{% extends 'base.html' %}
{% load static %}
{% block title %}Ask a question{% endblock %} 
{%block css %} <link rel="stylesheet" href="{% static 'comment/askquestion.css' %}"/> {% endblock %}

{% block content %}

<section id="all-posts">
    <h2> All Posts </h2>

    <ul>
    {% for post in posts %}
        <li>
            <h3> {{ post.title }} </h3>
            <p> {{ post.content }} </p>
            <p> {{ post.date_posted }} </p>
            <p> {{ post.author }} </p>
            <a href="{% url 'comment:post-detail' posts.id %}"> View </a>
        </li>
    {% endfor %}



    </ul>
</section>

{% endblock %}
