.form__content {
  height: 100%;
  background-color: blueviolet;
  margin-top: 20px;
  padding: 30px;
}
form {
  margin-left: 50px;
}
h1 {
  color: white;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 0px;
}
input {
  height: 40px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
}
textarea {
  margin-top: 10px;
  width: 510px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  resize: none;
  padding-left: 10px;
}
button {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: #6b05b3;
  border: none;
  outline: none;
}
label {
  display: block;
}
