{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} H-Forum {% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'app.css' %}" />
  </head>
  <body>
    <header>
      <div class="navigation_bar">
        <div class="left_section_nav">
          <a href="">H-Forum</a>
        </div>
        <div class="center_section_nav">
          <img src="..." />
          <form method="get" action="{% url 'home' %}">
            <input
              type="text"
              name="q"
              placeholder="Search posts"
              value="{{ request.GET.q }}"
            />
            <button type="submit">Search</button>
          </form>
        </div>
        <div class="right_section_nav">
          {% if request.user.is_authenticated %}
          <div class="user-info">
            {% if request.user.profile.profile_picture %}
            <img
              src="{{ request.user.profile.profile_picture.url }}"
              alt="{{ request.user.username }}'s Avatar"
              class="user-avatar"
              width="50px"
              height="70px"
            />
            {% else %}
            <a href="{% url 'profile' %}">
              <img
                src="{% static 'images/default_avatar.svg' %}"
                alt="Default Avatar"
                class="user-avatar"
              />
            </a>
            {% endif %}
            <span>{{ request.user.username }}</span>
            <a href="{% url 'logout' %}">Logout</a>
          </div>
          {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'register' %}">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </header>
    <main class="main-section">
      <div class="left_section">
        <a href="">HOME</a>
        <a href="">EXPLORE TOPICS</a>
        <a href="{% url 'my_QNA' %}">MY QNA</a>
      </div>
      {% block content %} {% endblock %}
      <div class="right_section">
        <a
          class="start_topic--purple"
          href="{% url 'ask_question' %}"
          class="start_topic--purple"
          >Start a new topic</a
        >
        <div class="top_users">
          <h3>Top Users</h3>
          <ul>
            <li>user 1</li>
            <li>user 2</li>
            <li>user 3</li>
            <li>user 4</li>
            <li>user 5</li>
          </ul>
        </div>
      </div>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>
