{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} H-Forum {% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'app.css' %}" />
  </head>
  <body>
    <header>
      <div class="navigation_bar">
        <div class="left_section_nav">
          <a href="">H-Forum</a>
        </div>
        <div class="center_section_nav">
          <img src="..." />
          <input placeholder="Search for Topics" type="text" />
        </div>
        <div class="right_section_nav">
          <a href="">Login</a>
          <a href="">Sign Up</a>
        </div>
      </div>
    </header>
    <main class="main-section">
      <div class="left_section">
        <a href="">HOME</a>
        <a href="">EXPLORE TOPICS</a>
        <a href="">MY QNA</a>
      </div>
      {% block content %} {% endblock %}
      <div class="right_section">
        <a class="start_topic--purple" href="{% url 'ask_question' %}" class="start_topic--purple">Start a new topic</a>
        <div class="top_users">
          <h3>Top Users</h3>
          <ul>
            <li>user 1</li>
            <li>user 2</li>
            <li>user 3</li>
            <li>user 4</li>
            <li>user 5</li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
